/* @import url("nav.css");
@import url("lightbox.min.css");
@import url("imagegallery.css");
@import url("form.css");
@import url("typography.css");
@import url("layout.css");
 */

.row {
    background-color: whitesmoke;
}

.col-sm {

}
/* [class^="col-"]:first-child {
    background-color: aquamarine;
}

[class^="col-"]:last-child {
    background-color: blueviolet;
} */

.img {
    align-items: center;
}

@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){
    
}
