body{
    background-color: #3f0478;
}
.navbar {
    height: 100px;
}
.bg-light {
    background-color: rgb(38, 2, 58)!important;
}
.navbar-brand {
     width: 20%;
     margin: 0px;
     padding: 0px;
 }
.logo {
     width: 120px;
     margin-top: -20px;
 }
a {
     color: white;
     margin-top: -15px;
 }
a:hover {
    color: rgb(235, 226, 109);
}
.jumbotron {
    background-image: url(images/psylocke10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    padding-top: 140px;

}
.display-4 {
    text-shadow: black 1px 0px 1px;
}
.row {
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
}
img {
    width: 90%;
    height: auto;
}
p {
    color: rgb(34, 0, 66);
    font-size: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: -150px;
}
@media (min-width: 576px){
    .bg-light {
        background-color: rgb(38, 2, 58)!important;
    }
    .navbar-brand {
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .logo {
        width: 120px;
        margin-top: -30px;
    }
    a {
        margin-top: -15px;
        padding: 0px;
    }
    img {
        width: 80%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* .card-body {
        width: 100px;
        height: 50px;
    } */
    p {
        font-size: 22px;
    }
}
@media (min-width: 768px){
    img {
        width: 60%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p {
        font-size: 20px;
    }
}
@media (min-width: 992px){
    .logo {
        width: 120px;
        margin-top: -5px;
    }
    img {
        width: 50%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        font-size: 15px;
    }
}
@media (min-width: 1200px){
    img {
        width: 20%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
