.navbar {
    height: 100px;
}
.navbar-brand {
    color: #ffbcc4!important;
    font-family: 'Bitter', serif;
    font-size: 40px;
}
.btn {
    background-color: #ffbcc4!important;
    color: #000000;
}
.btn-outline-success {
        border-color: gray!important;
}
.btn-outline-success:hover {
    color: #ffffff;
}
.jumbotron {
    background-image: url(images/22020633-seamless-white-floral-lace-pattern-on-pink-background.jpg);
    padding: 30px;
}
a:hover {
    background-color: #ffbcc4!important;
    color: #000000;
}
.container-1 {
    padding-top: 20px;
    padding-bottom: 80px;
}
.cup-1 {
    width: 50%;
}
.row {
    margin-left: 15px; 
    margin-right: 15px; 
}
.bg-primary {
    background-color: #ffbcc4!important;
}
h1 {
    text-shadow: 1px 2px #a05e5e;
}
h2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
}
h3 {
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
}
h4 {
    font-size: 40px;
    color: #000000;
}
p {
    font-size: 30px;
}
dt {
    color: #ffbcc4!important;
    font-size: 30px;
}
dd {
    font-size: 25px;
}
table {
    background-color: #f4dce0e9;
}

@media (min-width: 768px){

}
@media (min-width: 992px){
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    dt {
        color: #ffbcc4!important;
        font-size: 20px;
    }
    dd {
        font-size: 15px;
    }
}
@media (min-width: 1200px){

}