.jumbotron {
    padding-top: 90px;
    border-radius: 0rem;
}
.carousel-image {
    max-height: 800px;
}
.carousel-caption {
    background-color: lightgray;
    opacity: 0.9;
    padding: 25px;
}
.featurette-divider {
    color: white;
}
