@import url("nav.css");
@import url("typography.css");
@import url("layout.css");

body {
    background-color: black;
}
.jumbotron {
    
    padding-top: 90px;
}
.carousel-image {
    max-height: 800px;
}
.carousel-caption {
    background-color: lightgray;
    opacity: 0.9;
    padding: 12px;
}
.featurette {
    padding-left: 20px;
    padding-right: 20px;
}
.featurette-divider {
    color: white;
}
.w-50 {
    width: 70% !important;
}
.container-modal {
    padding-top: 20px;
}
.modal-pad {
    padding-left: 20px;
    padding-right: 20px;
}
.img-thumbnail{
    padding: 0px;
    border: 0px;
    border-radius: 0;
    background-color: black;
}
.col-about {
        padding: 0px 30px;

}
.shadow {
    text-shadow: 0px 0px 2px white !important;
}
.icons {
    color: white;
    font-size: 40px;
}
.col-icon {
    text-align: center;
}
.table-striped {
    color: white;
}

@media (min-width: 576px){
    .img-thumbnail{
        max-width: 150px;
}
@media (min-width: 768px){
    .img-thumbnail{
        max-width: 200px;
    }
    .icons {
        padding-left: 150px;
    }
@media (min-width: 992px){
    .navbar-brand {
        margin-right: 0px;
        padding-right: 655px;
    }
    .img-thumbnail{
        max-width: 250px;
    }
    .icons {
        padding-left: 340px;
    }

@media (min-width: 1200px){
    .navbar-brand {
        margin-right: 0px;
        padding-right: 850px;
    }
    .icons {
        padding-left: 410px;
    }