@import url("nav.css");
@import url("typography.css");
@import url("layout-index.css");
@import url("layout-about.css");
@import url("layout-products.css");
@import url("layout-team.css");

body {
    background-color: black;
}
.w-50 {
    width: 70% !important;
}
.img-thumbnail{
    max-width: 170px;
    padding: 0px;
    border: 0px;
    border-radius: 0;
    background-color: black;
}
.section-title {
    font-size: 40px;
    text-shadow: 0px 0px 2px white !important;
}
.icons {
    color: white;
    font-size: 40px;

}
.col-icon {
    text-align: center;
}
.team-container  {
    background-color: white;
}
.li {
    float: right;
  }
@media (min-width: 576px){
    .img-thumbnail{
        max-width: 150px;
    }
}
@media (min-width: 768px){
    .img-thumbnail{
        max-width: 200px;
    }
}
@media (min-width: 992px){
    .img-thumbnail{
        max-width: 250px;
    }
}