h1 {
    color: black;
    font-family: 'Maitree', serif;
}
h2 {
    color: white;
    font-family: 'Maitree', serif;
}
h3{
    color: white;
    font-family: 'Maitree', serif;
}
h4{
    color: black;
    font-family: 'Maitree', serif;
}
p {
    color: white;
    letter-spacing: 1px;
    line-height: 1.6;
}
.p1 {
    color: black;
}
dt {
    color: white;
}
dd {
    color: white;
}
th {
    font-size: 12px;
}
td {
    font-size: 12px;
}
.navbar-brand {
    font-family: 'Maitree', serif;
}