h1 {
    color: black;
}
h2 {
    color: white; 
}
h3{
    color: white;
}
h4{
    color: black;
}
p {
    color: white;
}
.p1 {
    color: black;
}
dt {
    color: white;
}
dd {
    color: white;
}
th {
    font-size: 12px;
}
td {
    font-size: 12px;
}